section.startpage {
    display: flex;
    justify-content: center;
    margin-top: 5em;

    .flexContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .photoContainer {
            margin-left: 4em;
            height: 37em;
            background: linear-gradient(180deg, rgba(239, 123, 34, 0.48) 99.99%, rgba(26, 26, 26, 0.41) 100%);

            img {
                position: relative;
                z-index: -1;
                width: 30em;
                height: 37em;
            }
        }

        .informationContainer {
            margin-left: 5em;
            margin-top: 2em;

            p{
                max-width: 23rem;
            }

            button {
                a {
                    color: #F6F3EE;
                    text-decoration: none;
                    font-weight: 500;
                }
            }
        }
    }   
}