@use '../utils/variables' as var;

.occupations-container {
  max-width: 1200px;
  margin: auto;
  padding: 1em;
  .occupation-header {
    margin: auto;
    max-width: fit-content;
    h3 {
      font-weight: 300;
    }
  }
  .occupation-card {
    background-color: var.$cardColor;
    height: 120px;
    margin: auto;
    margin-block: 2em;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    width: 600px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 15px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

    .title-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h4,
      h4::after {
        top: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 0;
      }

      h4::after {
        background-color: var.$orange;
        width: 100px;
      }
    }
  }
}

.navigate-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
