$black: #242327;
$gray: #6C6B6B;
$white: #f6f3ee;
$brown: #342517;
$red: #BB1A0F;
$orange: #DC5C11;

$cardColor: #fbfbfb;
$btnHoverColorPrimary: #ff6912;
$btnHoverColorSecondary: #828282;

$openSans: 'Open Sans', sans-serif;