$black: #333333;
$gray: #5f5f5f;
$white: #f6f3ee;
$brown: #342517;
$red: #BB1A0F;
$orange: #E86315;

$cardColor: #fbfbfb;
$btnHoverColorPrimary: #ff6912;
$btnHoverColorSecondary: #828282;

$openSans: 'Open Sans', sans-serif;