@import './normalize';
@import './occupationPage/occupations';
@import './chartpage/chart';

:root {
  --orange: #EF7B22;
  --grey: #9F9D9C;
  --white: #F6F3EE;
  --brown: #916F50;
  --dark: #242327;
  --red: #E54236;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  position: relative;
  color: #242327;
  background-color: #f6f3ee;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #526d82;
}

a {
  font-size: 1.2rem;
  font-weight: 600;
  margin-inline: 1rem;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

li a:visited {
  color: #1a1a1a;
}

li {
  float: left;
  list-style: none;
  margin-top: 1em;
}

form {
  margin: auto;
  max-width: 200px;
  margin-bottom: 2rem;
}

main {
  min-height: calc(100vh - 300px);
  margin: auto;
  margin-bottom: 100px;
}

footer {
  width: 100%;
  height: 100px;
  bottom: 0;
  position: relative;
  background-color: #526d82;
  display: flex;
  justify-content: center;
}

footer p {
  padding: 1em;
}

.competencies {
  margin-top: 1rem;
  height: 500px;
}


.about-education-container {
  background-color: #eaeaea;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 1rem;
  max-width: 700px;
  overflow: scroll;
}

.about-education-container div {
  margin: 2rem;
}



.result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.loaderContainer {
  width: 10em;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.menu-select-container {
  width: 500px;
}

.chart-container {
  padding: 1rem;
  margin: auto;
  max-width: 900px;
  height: 600px;
}

h4.digi-typography-heading-jumbo.sc-digi-typography-heading-jumbo {
  font-size: 1.2em !important;
}



.digi-button--variation-primary {
  background-color: var(--orange) !important;
  color: var(--white) !important;
  border: 1px solid var(--orange) !important;
}

.digi-button--variation-secondary {
  background-color: var(--grey) !important;
  color: var(--white) !important;
}

.sc-digi-typography-heading-jumbo-h .digi-typography-heading-jumbo.sc-digi-typography-heading-jumbo::after{
  background-color: var(--orange);
}

