@import './normalize';
@import './occupationPage/occupations';
@import './chartpage/chart';
@import './header/header';
@import './aboutpage/aboutpage';
@import './searchpage/searchpage';
@import './errorpage/errorpage';

:root {
  --orange: #ef7b22;
  --grey: #9f9d9c;
  --white: #f6f3ee;
  --brown: #916f50;
  --dark: #242327;
  --red: #e54236;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  position: relative;
  color: #242327;
  background-color: #f6f3ee;
}

a {
  font-size: 1.2rem;
  font-weight: 600;
  margin-inline: 1rem;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

li a:visited {
  color: #1a1a1a;
}

li {
  float: left;
  list-style: none;
  margin-top: 1em;
}

form {
  margin: auto;
  max-width: 200px;
  margin-bottom: 2rem;
}

main {
  min-height: calc(100vh - 300px);
  margin: auto;
  margin-bottom: 100px;
}

.competencies {
  margin-top: 1rem;
  height: 500px;
}

.loaderContainer {
  width: 10em;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.menu-select-container {
  width: 500px;
}

h4.digi-typography-heading-jumbo.sc-digi-typography-heading-jumbo {
  font-size: 1.2em !important;
}

.digi-button--variation-primary {
  background-color: var(--orange) !important;
  color: var(--white) !important;
  border: 1px solid var(--orange) !important;
}

.digi-button--variation-secondary {
  background-color: var(--grey) !important;
  color: var(--white) !important;
}

.sc-digi-typography-heading-jumbo-h
  .digi-typography-heading-jumbo.sc-digi-typography-heading-jumbo::after {
  background-color: var(--orange);
}
