.about-education-container {
    background-color: #F6F3EE;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2rem;
    margin: auto;
    max-width: 600px;
    overflow: scroll;
    max-height: 500px;
}
  
.about-education-container div {
   margin: 2rem;
}

.back-btn-div {
    text-align: center;
    margin-top: 5rem;
}


