* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  position: relative;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

body {
  position: relative;
}

a {
  margin-inline: 1rem;
  text-decoration: none;
}

li {
  float: left;
  list-style: none;
}

form {
  margin: auto;
  max-width: 200px;
  margin-bottom: 2rem;
}

main {
  min-height: calc(100vh - 300px);
  margin: auto;
  margin-bottom: 100px;
}

footer {
  width: 100%;
  height: 100px;
  bottom: 0;
  position: relative;
}

.result {
  display: flex;
  max-width: 1200px;
  margin: auto;
  gap: 1rem;
}

.cardContainer,
.occupations-container {
  background-color: #eaeaea;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 47em;
  padding: 2em;
  overflow-y: scroll;
}

.eduCard,
.occupation-card {
  border-radius: 5px;
  background-color: #f4f4f4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 0.7rem;
  width: 430px;
  text-transform: capitalize;
}

.eduCard,
.occupation-card h4,
.eduCard,
.occupation-card p {
  margin-bottom: 1rem;
}

.eduCard,
.occupation-card button {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
}

.competencies {
  margin-top: 1rem;
  height: 500px;
}
